@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 205 67% 95%;
    --foreground: 210 25% 20%;
    --card: 210 40% 99%;
    --card-foreground: 210 25% 20%;
    --popover: 210 40% 99%;
    --popover-foreground: 210 25% 20%;
    --primary: 140 65% 28%;
    --primary-foreground: 140 40% 98%;
    --secondary: 140 60% 88%;
    --secondary-foreground: 140 65% 28%;
    --muted: 140 60% 92%;
    --muted-foreground: 140 20% 45%;
    --accent: 140 39% 50%;
    --accent-foreground: 140 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 140 40% 85%;
    --input: 140 40% 85%;
    --ring: 140 65% 28%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --sidebar-background: 140 65% 22%;
    --sidebar-foreground: 140 50% 90%;
    --sidebar-primary: 140 67% 95%;
    --sidebar-primary-foreground: 140 65% 22%;
    --sidebar-accent: 140 65% 28%;
    --sidebar-accent-foreground: 140 50% 95%;
    --sidebar-border: 140 65% 28%;
    --sidebar-ring: 140 67% 95%;
  }
  .dark {
    --background: 140 65% 10%;
    --foreground: 140 67% 95%;
    --card: 140 65% 12%;
    --card-foreground: 140 67% 95%;
    --popover: 140 65% 10%;
    --popover-foreground: 140 67% 95%;
    --primary: 140 67% 95%;
    --primary-foreground: 140 65% 15%;
    --secondary: 140 65% 20%;
    --secondary-foreground: 140 67% 95%;
    --muted: 140 65% 15%;
    --muted-foreground: 140 30% 65%;
    --accent: 140 39% 50%;
    --accent-foreground: 140 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 140 65% 20%;
    --input: 140 65% 20%;
    --ring: 140 67% 95%;
    
    --sidebar-background: 140 65% 10%;
    --sidebar-foreground: 140 50% 90%;
    --sidebar-primary: 140 67% 95%;
    --sidebar-primary-foreground: 140 65% 10%;
    --sidebar-accent: 140 65% 18%;
    --sidebar-accent-foreground: 140 50% 95%;
    --sidebar-border: 140 65% 18%;
    --sidebar-ring: 140 67% 95%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
